* {
  margin: 0;
  padding: 0;
}

.AppWrapper {
  display: flex;
  border: solid red 1px;
  height: 100vh;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.App, button {
  border: solid black 1px;
  border-radius: 5px;
}

.App {
  box-sizing: content-box;
  padding: 20px;
}

.App h1, i, p, button {
  margin: 10px 0;
}

.App h1 {
  font-size: 22px;
}

.App p {
  font-size: 20px;
}

.App i {
  font-size: 100px;
}

.App button {
  width: 200px;
  padding: 10px;
  background: none;
} 

.App button:hover {
  cursor: pointer;
}